body{
    margin: 0;
    padding: 0;
}
.box1{ 
    width: 100px;
    height: 70px;
    border: 5px solid blue;
    box-sizing: border-box;
   text-align: center;
   background-color: yellow;
   z-index: 9000;
   justify-content: center;
   cursor: pointer;
   overflow: hidden;
   text-decoration: underline;

   


}

.box3{
    
        width: 100px;
        height: 70px;
        border: 5px solid blue;
        background-color: green;
        box-sizing : border-box;
        text-align: center;
        position: absolute;
        left: 80px;
        text-decoration: underline;
        bottom: 320px;
        right: 300px; 
        z-index: 1000;
    overflow: hidden;
}
.box4{
    width: 100px;
    height: 70px;
    border: 7px solid blue;
    background-color: orange;
    text-align: center;
    box-sizing: border-box;
position: absolute;
bottom: 20px;
z-index: 5000;
overflow: hidden;
text-decoration: underline;


}
.box1:hover{
    background: orange;
    height: 400px;
}
.box3:hover{
    background: blue;
    height: 400px;
}
.box4:hover{
    background: pink;
    height: 400px;
}